[OSEv3:children]
masters
etcd
nodes
glusterfs

[OSEv3:vars]
ansible_become=true
ansible_ssh_user=ec2-user
debug_level=2
openshift_debug_level=2
openshift_node_debug_level=2
openshift_master_debug_level=2
openshift_master_access_token_max_seconds=2419200
openshift_enable_service_catalog=false
openshift_master_api_port=443
openshift_master_console_port=443
osm_cluster_network_cidr=172.16.0.0/16
openshift_hosted_router_replicas=1
openshift_hosted_registry_replicas=1
openshift_master_cluster_method=native
openshift_master_cluster_public_hostname=master.{{ domain }}
osm_default_subdomain=apps.{{ domain }}
openshift_master_default_subdomain=apps.{{ domain }}
deployment_type=openshift-enterprise
#os_sdn_network_plugin_name=redhat/openshift-ovs-subnet
openshift_master_identity_providers=[{'name': 'google', 'challenge': 'false', 'login': 'true', 'kind': 'GoogleIdentityProvider', 'mapping_method': 'claim', 'clientID': '246358064255-5ic2e4b1b9ipfa7hddfkhuf8s6eq2rfj.apps.googleusercontent.com', 'clientSecret': 'Za3PWZg7gQxM26HBljgBMBBF', 'hostedDomain': 'redhat.com'}]
osm_use_cockpit=true
containerized=False
openshift_disable_check=memory_availability,disk_availability,docker_storage,package_version,docker_image_availability,package_availability
#openshift_logging_install_logging=false

openshift_storage_glusterfs_is_native=false
openshift_storage_glusterfs_storageclass=true
openshift_storage_glusterfs_heketi_is_native=true

# metrics
openshift_hosted_metrics_deploy=false

[etcd]
{{ master1_hostname }} openshift_public_hostname=master.{{ domain }}

[masters]
{{ master1_hostname }} openshift_public_hostname=master.{{ domain }}

[glusterfs]
{{ ocs1_hostname }} glusterfs_devices="[ "/dev/nvme3n1" ]" openshift_public_hostname=ocs1.{{ domain }}
{{ ocs2_hostname }} glusterfs_devices="[ "/dev/nvme3n1" ]" openshift_public_hostname=ocs2.{{ domain }}
{{ ocs3_hostname }} glusterfs_devices="[ "/dev/nvme3n1" ]" openshift_public_hostname=ocs3.{{ domain }}

[nodes]
{{ master1_hostname }} openshift_node_group_name='node-config-master' openshift_public_hostname=master.{{ domain }}
{{ infra1_hostname }} openshift_node_group_name='node-config-infra' openshift_public_hostname=infra1.{{ domain }}
{{ app1_hostname }} openshift_node_group_name='node-config-compute' openshift_public_hostname=app1.{{ domain }}
{{ app2_hostname }} openshift_node_group_name='node-config-compute' openshift_public_hostname=app2.{{ domain }}
{{ ocs1_hostname }} openshift_node_group_name='node-config-compute' openshift_public_hostname=ocs1.{{ domain }}
{{ ocs2_hostname }} openshift_node_group_name='node-config-compute' openshift_public_hostname=ocs2.{{ domain }}
{{ ocs3_hostname }} openshift_node_group_name='node-config-compute' openshift_public_hostname=ocs3.{{ domain }}
